@model SuperSimpleBlog.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Все посты";
}
<a asp-action="Create" class="btn btn-outline-info btn-block" style="border-radius:unset;">Добавить пост</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Создано</th>
            <th>Обновлено</th>
            <th class="text-center">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Created</td>
                <td>@post.Updated</td>
                <td class="text-center">
                    <div style="display:ruby-base;">

                        @*<a asp-action="Delete" asp-controller="Admin" asp-route-id="@post.ID">Удалить</a>*@
                        <form asp-action="Delete" method="post">
                            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@post.ID" class="btn btn-outline-info" style="border-radius:unset;">Изменить</a>
                            <input type="hidden" name="Id" value="@post.ID" />
                            <button type="submit" class="btn btn-outline-danger" title="Удалить" style="border-radius:unset;">Удалить</button>
                        </form>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="float-right">
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-info btn-sm" style="border-radius:unset;">
            Позже
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-info btn-sm" style="border-radius:unset;">
            Ранее
        </a>
    }
</div>
